#interesting_fact{
  font-style: italic;
}

body{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11pt;
}

h3{
  margin: 0;
}

span{
  font-weight: bold;
}

img{
  border-radius: 10px;
}

ul {
  padding: 0;
}

li{
  list-style-type: none;
}

.card_container{
  background-color: #248f24;
  border: 10px solid black;
  border-radius: 10px;
  width: 300px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  box-shadow: 5px 5px 7px lightgrey;
}

.card_title{
  background-color: #ccffcc;
  border: 1px solid #d6f5d6;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.card_info{
  background-color: #ccffcc;
  border: 1px solid #d6f5d6;
  border-radius: 10px;
  padding-left:10px;
  padding-right: 10px;
  margin-top: 10px;
}

/* Flavor text is the text typically located at the bottom-face of a card */
.flavor_text{
  font-size: 8pt;
}
